
<div class="ma-0 pa-0">
    <div>
        <MudNavLink Icon="@Icons.Material.Filled.CarRental"
                    Href="/"
                    Class="mud-nav-link-end">
            <MudText>Connectors</MudText>
        </MudNavLink>     
    </div>
</div>
